body{background-color:#f8f8f8}
.container{padding:0 1rem}
.product-btn{position:absolute;bottom:7em;left:0;right:0;padding:0 1rem}
.weui-toptips_warn{min-height:2rem;line-height:2rem}
.weui-cells_form{margin-top:0}
.weui-cells_form .weui-cell,.weui-cell_vcode{min-height:4.75rem;}
.weui-cells_form .weui-label{width:4.5rem}
.weui-cells_form .weui-vcode-img{width:7rem}
.header{position:relative;height:7rem}
.header .weui-cells__title{position:absolute;bottom:0px}